nav .nav-wrapper form, nav .nav-wrapper form .input-field{
height: 100%;
}

nav {
  box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.12);
}

.navbar-fixed {
  height: 80px;
}

.btn {
  background-color: white;
  font: black;
}

.landing-borderline {
  font-size: 10em;
  padding: 15px;
  -webkit-transition: background 0.3s linear;
  -moz-transition: background 0.3s linear;
  -ms-transition: background 0.3s linear;
  -o-transition: background 0.3s linear;
  transition: background 0.3s linear;
}
.landing-borderline:hover {
  background-color: #eceff1;
}

@media only screen and (max-width : 992px) {
  .landing-borderline {
    font-size: 9em;
  }
}

@media only screen and (max-width : 600px) {
  .landing-borderline {
    font-size: 8em;
  }
}
