{
  "plugins": [
    ["babel-plugin-styled-components"],
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "h",
        "useBuiltIns": true
      }
    ],
    [
      "babel-plugin-jsx-pragmatic",
      {
        "module": "preact",
        "import": "h",
        "export": "h"
      }
    ]
  ]
}
