<div class="container">
  <div class="row">
    <div class="col s4 center">
      <h2 class="header-title" style="font-family: Raleway"> Email </h2>
      <hr>
      <p class="flow-text">jeffrz@uw.edu</p>
    </div>
    <div class="col s4 center">
      <h2 class="header-title" style="font-family: Raleway"> Cell </h2>
      <hr>
      <p class="flow-text">503-708-2417</p>
    </div>
    <div class="col s4 center">
      <h2 class="header-title" style="font-family: Raleway"> LinkedIn </h2>
      <hr>
      <p class="flow-text"></p>
    </div>
</div>
