<div class="container animated fadeIn">
  <br>
  <div class="row center">
    <img class="responsive-img circle" style="width:400px; height: auto" src="/images/me.png"/>
  </div>
  <div class="row">
    <div class="col s12 m12 l10 offset-l1 flow-text">
      <p>
        Hello, and welcome to my portfolio page! My name is Jeff Zhong. I am a senior at the University of Washington, Seattle campus. I am majoring in <b>Informatics</b>, and  currently hold a GPA of 3.58. My areas of expertise reside in <b>front-end web and UI/UX development</b>, but I also have experience in project management and full stack development.
      </p>
      <p>
        Here, you will find a compilation of projects that I have undertaken or am currently working on. These projects are mostly written in Javascript through AngularJS, with some coded in different ones such as Adobe Coldfusion or with straight HTML and CSS. They range from school assignments to internship client work, challenges, and hackathons.
      </p>
      <p>
        I also create Adobe After Effects shortclips and videos. For my internships at AT&amp;T, I produced the videos which detailed the functionality and use cases of our apps. These videos can be viewed through the top right link labeled "Videos".
      </p>
    </div>
  </div>
</div>
