<div class="container animated fadeIn">
  <div class="row">
    <div class="col s12 center">
      <h2 class="header-title" style="font-family: Raleway"> {{ projectDetails.project.name | uppercase }} </h2>
    </div>
  </div>
  <div id="macbook-row" class="row">
    <div class="col s12 center">
      <img class="responsive-img" src="/images/{{projectDetails.projId}}/macbook_{{projectDetails.projId}}.png"/>
    </div>
  </div>
  <div class="row">
    <div class="col s12 center">
      <br>
      <p class="flow-text" style="font-family: Roboto; font-weight: 300"> {{projectDetails.project.long_description}}
      </p>
    </div>
  </div>
  <br>
  <div class="row" ng-show="projectDetails.project.github">
    <div class="col s12 center">
      <a class="btn-large blue-grey white-text waves-effect" style="width: 100%" target="_blank" href="{{projectDetails.project.github}}">Github Repo</a>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col s12 flow-text">
      <table>
        <thead>
          <tr>
              <th data-field="Project Role">Project Role</th>
              <th data-field="Code">Code</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ projectDetails.project.role }}</td>
            <td>{{ projectDetails.project.code }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row" ng-show="projectDetails.project.pictures">
    <div class="col s12 center" style="font-family: Raleway">
      <h3 id="additional-images">GALLERY</h3>
    </div>
    <div class="col s2 offset-s5">
      <hr>
      <br>
    </div>
  </div>
  <div class="row" ng-show="projectDetails.project.pictures">
    <div class="col s12">
      <div id="galleria" class="galleria" style="width: 100%">
      </div>
    </div>
</div>
