<div class="container">
  <br>
  <div class="row">
    <div class="col s12 center">
      <h2 style="font-family: Raleway" class="header-title">AT&amp;T ICC 2016 Video Submission</h2>
      <p class="flow-text">Video created for AT&amp;T intern coding challenge, 2016. Produced with After Effects.</p><br>
      <div class="video-container">
        <iframe width="853" height="480" src="https://www.youtube.com/embed/W6nIrIr1mKI" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <br>
  <hr>
  <div class="row">
    <div class="col s12 center">
      <h2 style="font-family: Raleway" class="header-title">AT&amp;T ICC 2015 Video Submission</h2>
      <p class="flow-text">Video created for AT&amp;T intern coding challenge, 2015. Produced with After Effects.</p><br>
      <div class="video-container">
        <iframe width="853" height="480" src="https://www.youtube.com/embed/QJHihldaCBI" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <br>
  <hr>
  <div class="row">
    <div class="col s12 center">
      <h2 style="font-family: Raleway" class="header-title">INFO 498 | Weather App </h2>
      <p class="flow-text">Video created for INFO 498 : Mobile App Design. Produced with After Effects.</p><br>
      <div class="video-container">
        <iframe width="853" height="480" src="https://www.youtube.com/embed/l3q_0KcBLMw" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
