<div id="landing_page" class="container">
  <div class="row">
    <div class="col s12 center animated fadeIn">
      <h3 style="font-family: Raleway">PROJECTS</h3>
    </div>
    <div class="col s2 offset-s5">
      <hr>
    </div>
  </div>
  <div class="row">
    <ul id="hexGrid">
  <li class="hex animated fadeIn" id='{{ project.project_id }}' ng-repeat="project in landing.projects">
    <a class="hexIn"  ui-sref="projectDetails({ projId: project.project_id })">
      <img src="/images/{{project.project_id}}/{{project.project_id}}_landing.png" alt="" />
      <h1>{{project.name}}</h1>
      <p>{{project.description}}</p>
    </a>
  </li>
</ul>
</div>
</div>


<!-- <a class="waves-effect btn white black-text">button</a> -->
