<nav>
  <div class="nav-wrapper" style="background-color: #eeeeee">
    <a href="/" class="center brand-logo black-text" id="party_title">Home</a>
    <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons black-text">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li ng-class="{ active: isActive('/web')}"><a href="/web" class="black-text">Videos</a></li>
      <li ng-class="{ active: isActive('/about')}"><a href="/about" class="black-text">About</a></li>
      <li ng-class="{ active: isActive('/contact')}"><a href="/contact" class="black-text">Contact</a></li>
    </ul>
    <ul class="side-nav" id="mobile">
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/web">Videos</a></li>
      <li class="truncate" style="margin-right: 10px" ng-repeat="project in navigation.projects" id="{{project.project_id}}"><a ui-sref="projectDetails({ projId: project.project_id, index: project.index})">{{project.shortname}}</a></li>
    </ul>
  </div>
</nav>
<script type="text/javascript" src="/thirdparty/materialize.min.js"></script>
<script type="text/javascript" src="/thirdparty/galleria-1.4.5.min.js"></script>
