<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper white">
      <a href="/" class="center brand-logo black-text" id="party_title">Home</a>
      <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons black-text">menu</i></a>
      <ul class="left left hide-on-med-and-down">
        <li><a href="/clubs" class="black-text">Clubs</a></li>
      </ul>
      <ul class="side-nav" id="mobile">
        <li><a href="/">Home</a></li>
        <li><a href="/clubs">Clubs</a></li>
      </ul>
    </div>
  </nav>
</div>
