
<nav class="animated fadeIn">
  <div class="nav-wrapper" style="background-color: #f5f5f5">
    <a href="/" class="center brand-logo black-text" id="party_title">Home</a>
    <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons black-text">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li ng-class="{ active: isActive('/about')}"><a href="/about" class="black-text">About</a></li>
      <li ng-class="{ active: isActive('/contact')}"><a href="/contact" class="black-text">Contact</a></li>
      <li ng-class="{ active: isActive('/web')}"><a href="/web" class="black-text">Web Designs</a></li>
    </ul>
    <ul class="side-nav" id="mobile">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/web">Web Designs</a></li>
    </ul>
  </div>
</nav>
